@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}

.container {
  width: 90%;
  margin: auto;
}

img {
  width: 100%;
}

.brand-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 50px;
}

.brand-icon img {
  height: 20px;
  width: 60px;
}

.content {
  padding-top: 100px;
  text-align: center;
}

.soon {
  font-weight: 700;
  color: var(--Very-Dark-Blue);
}

.content h1 {
  font-weight: 300;
  color: var(--Gray);
  padding-bottom: 15px;
}

.content p {
  font-size: 0.6rem;
  color: var(--Very-Dark-Blue);
  padding-bottom: 30px;
  font-weight: 600;
}

input {
  border: 1px solid var(--Pale-Blue);
  height: 40px;
  border-radius: 50px;
  width: 75%;
  margin-bottom: 10px;
}

.text {
  display: none;
  text-align: center;
  font-size: 0.5rem;
  padding-bottom: 20px;
  font-style: italic;
}

input[type="text"] {
  font-size: 0.5rem;
  padding-left: 20px;
}

input::placeholder {
  color: var(--Pale-Blue);
}

.btn {
  width: 75%;
  height: 40px;
  background: var(--Blue);
  border-radius: 50px;
  font-size: 0.5rem;
  color: white;
  box-shadow: 0 5px 10px var(--Pale-Blue);
}

.dashboard {
  padding-top: 70px;
  padding-bottom: 100px;
}

.media-icons svg {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 9px;
  left: 8px;
}

svg {
  fill: var(--Blue);
}

.facebook,
.twitter,
.instagram {
  background: white;
  border-radius: 50%;
  border: 1px solid var(--Pale-Blue);
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 5px;
}

.facebook:hover,
.twitter:hover,
.instagram:hover {
  background: var(--Blue);
}

svg:hover {
  fill: white;
}

.media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media p {
  font-size: 0.5rem;
  text-align: center;
  padding-top: 30px;
  color: var(--Gray);
}

.click {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 700px;
  }

  .brand-icon img {
    height: 25px;
    width: 75px;
  }

  .content {
    padding-top: 110px;
  }

  .content h1 {
    font-size: 2rem;
  }

  .soon {
    font-size: 2rem;
  }

  .content p {
    font-size: 0.8rem;
    padding-bottom: 40px;
  }

  input {
    width: 53%;
    height: 50px;
    margin-right: 7px;
  }

  .btn {
    width: 25%;
    height: 50px;
    font-size: 0.8rem;
    display: none;
  }

  .text {
    text-align: left;
    padding-left: 95px;
  }

  .click {
    width: 25%;
    height: 50px;
    font-size: 0.8rem;
    background: var(--Blue);
    border-radius: 50px;
    color: white;
    box-shadow: 0 5px 10px var(--Pale-Blue);
    display: inline-block;
  }

  input[type="text"] {
    font-size: 0.8rem;
  }

  .dashboard {
    width: 550px;
    margin: auto;
  }
}
